<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Zach Heidenreich</title>
    <link rel="stylesheet" href="/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/blobs.css" />
  </head>

  <div class="binary-background"></div>
  <script src="/js/binary.js"></script>

  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <a href="/" class="logo">Zach Heidenreich</a>
      <ul class="nav-links">
        <li><a href="#about-section">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/hobbies">Hobbies</a></li>
        <li><a href="/#contact-section">Contact</a></li>
      </ul>
    </nav>
  </body>
  <footer class="contact-bar">
    <p>
      Zach Heidenreich |
      <a href="mailto:zach@gatech.edu">zach@gatech.edu</a> |
      <a
        href="https://www.linkedin.com/in/zheid/"
        target="_blank"
        rel="noopener"
        >LinkedIn</a
      >
    </p>
  </footer>
</html>
