<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Zach Heidenreich</title>
    <link rel="stylesheet" href="/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/blobs.css" />
  </head>

  <script src="/js/blobs.js"></script>

  <body>
    <canvas class="blobs-canvas"></canvas>

    <!-- Navbar -->
    <nav class="navbar">
      <a href="/" class="logo">Zach Heidenreich</a>
      <ul class="nav-links">
        <li><a href="#about-section">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/hobbies">Hobbies</a></li>
        <li><a href="/#contact-section">Contact</a></li>
      </ul>
    </nav>

    <!-- Hero -->
    <section id="hero">
      <h1>Zach Heidenreich</h1>
    </section>

    <!-- About -->
    <section id="about-section" class="section-container">
      <div class="section-heading"></div>
      <div class="-box">
        <p>
          Hi—I’m Zach, a junior in the ECE program at Georgia Tech. I love
          building hardware and software end to end—whether it’s designing a PCB
          in KiCad, programming microcontrollers in C and Python, or modeling
          semiconductor processes. I’m always learning new tools and techniques
          to bring complex ideas to life.
        </p>
        <a
          href="/docs/Zach_Heidenreich_Resume.pdf"
          class="button"
          target="_blank"
          rel="noopener"
        >
          View Resume
        </a>
      </div>
      <div class="section-image-wrapper">
        <img src="/images/mugshot.png" alt="Zach Heidenreich" />
      </div>
    </section>
  </body>
  <footer class="contact-bar">
    <p>
      Zach Heidenreich |
      <a href="mailto:zach@gatech.edu">zach@gatech.edu</a> |
      <a
        href="https://www.linkedin.com/in/zheid/"
        target="_blank"
        rel="noopener"
        >LinkedIn</a
      >
    </p>
  </footer>

  <!-- scroll-trigger script -->
  <script src="/js/scroll.js"></script>
</html>
