<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Zach Heidenreich</title>
    <link rel="stylesheet" href="/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <nav class="navbar">
      <a href="/" class="logo">Zach Heidenreich</a>
      <ul class="nav-links">
        <li><a href="#about-preview">About</a></li>
        <li><a href="#projects-preview">Projects</a></li>
        <li><a href="#contact-preview">Contact</a></li>
        <li><a href="/resume">Resume</a></li>
      </ul>
    </nav>

    <main><%= body %></main>
  </body>
</html>
