<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Zach Heidenreich</title>
    <link rel="stylesheet" href="/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <script>
    function loadFeed(widgetId) {
      const iframe = document.getElementById("instagram-frame");
      iframe.src = `//lightwidget.com/widgets/${widgetId}.html`;
    }
  </script>

  <body>
    <nav class="navbar">
      <a href="/" class="logo">Zach Heidenreich</a>
      <ul class="nav-links">
        <li><a href="/#about-section">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/hobbies">Hobbies</a></li>
        <li><a href="/#contact-section">Contact</a></li>
      </ul>
    </nav>
  </body>

  <main>
    <div class="photo-nav">
      <button onclick="loadFeed('113499e3ba105414a79f9a3966315933')">
        All
      </button>
      <button onclick="loadFeed('25775c0d9be3547c8a7f83f778887d0c')">
        Astrophography
      </button>
    </div>

    <div class="custom-instagram-gallery">
      <iframe
        id="instagram-frame"
        src="//lightwidget.com/widgets/113499e3ba105414a79f9a3966315933.html"
        scrolling="no"
        allowtransparency="true"
        class="lightwidget-widget"
        style="width: 100%; border: 0; overflow: hidden"
      ></iframe>
      <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
    </div>
  </main>

  <footer class="contact-bar">
    <p>
      Zach Heidenreich |
      <a href="mailto:zach@gatech.edu">zach@gatech.edu</a> |
      <a
        href="https://www.linkedin.com/in/zheid/"
        target="_blank"
        rel="noopener"
        >LinkedIn</a
      >
    </p>
  </footer>
</html>
